@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e5e5e5;
  margin: 0px;
}
header > p {
  font-weight: bold;
  background-color: aquamarine;
  padding: 10px 0;
  margin: 0;
  display: block;
}

.shop {
  background-color: #00669f;
  margin: 0;
  color: white;
  display: flex;
  box-shadow: 0px 6px 7px -1px #000000;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 1% 15%;
}

.cardgeneral {
  background-color: white;
  width: 300px;
  height: 550px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0px 6px 7px -1px #000000;
}
.containerimg {
  position: relative;
  width: 100%;
}

.containerimg > .supermanbackground {
  width: 300px;
  height: 193px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.heard {
  position: absolute;
  left: 15px;
  top: 15px;
}
.containerface {
  position: relative;
}
.face {
  position: absolute;
  top: -65px;
  left: 90px;
  border-radius: 100%;
}
.containerinfo {
  text-align: center;
  margin: 30px;
  width: auto;
}

h2 {
  margin-top: 75px;
  text-align: center;
}

.containera {
  text-align: center;
  width: auto;
  text-decoration: none;
  padding-bottom: 20px;
}

.containera > a {
  text-decoration: none;
  background-color: #00669f;
  color: white;
  padding: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 10px -3px #000000;
}
footer {
  padding: 0.3rem 0;
  text-align: center;
  background-color: #00669f;
  margin: 0;
  color: white;
  box-shadow: 0px -3px 5px 0px black;
}

@media (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  header {
    width: 100vw;
  }
  .cardgeneral {
    margin: 10px 0;
  }
}
